<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><!-- 이 xml은 mybatis xml이라는것을 선언해주는 부분이야 -->
  
  <mapper namespace="NoticeMapper">

	<sql id="search"><!-- 미리 만들어 놓고 임포트 형식으로 여러번 넣어서 쓸 수 있음 -->
	<trim prefix="where" prefixOverrides="and || or">
		<if test="kind=='title'">
		title like '%' || #{search} || '%'
		</if>
		<if test="kind=='writer'">
		writer like '%' || #{search} || '%'
		</if>
		<if test="kind=='contents'">
		contents like '%' || #{search} || '%'
		</if>
		</trim>
	</sql>

	<select id="list" parameterType="com.choa.util.ListInfo" resultType="com.choa.notice.NoticeDTO"> <!-- 리절트 타입을  java.util.ArrayList 해버리면 제너릭을 뭘로 할지 모르잖아 boardDTO 배열인지.. 무슨배열인지.. 제네릭만 쓰면 만약 여러개가 오면 지가 알아서 배열로 만들어줌.. -->
		select * from (select A.*,rownum R from (select * from notice
		<include refid="search"></include>
		 order by num desc) A) B where R between #{startRow} and #{lastRow}
	</select>

	<select id="count" resultType="java.lang.Integer" parameterType="com.choa.util.ListInfo">
		select nvl(count(num),0) from notice
		<include refid="search"></include>
	</select>

  	<select id="view" resultType="com.choa.notice.NoticeDTO" parameterType="java.lang.Integer">
  		select * from notice where num = #{num} <!-- 파라미터 이름을 고대로 쓸 것 -->
  	</select>
  	
  	<!-- insert,update,delete는 어차피int가 리턴이리까 resultType은 적지 않아도됨 -->
  	<insert id="write" parameterType="com.choa.notice.NoticeDTO">
  		insert into notice values(notice_seq.nextval,#{writer},#{title},#{contents},sysdate,0)
  	</insert>
  	
  	<delete id="delete" parameterType="java.lang.Integer">
  		delete from notice where num = #{num}
  	</delete>
  	
  	<update id="update" parameterType="com.choa.notice.NoticeDTO">
  		update notice 
  		<trim prefix="set" prefixOverrides=",">
  		<if test="title!=null">title=#{title},</if>
  		<if test="contents!=null">contents=#{contents}</if>
  		</trim>
  		where num=#{num}
  	</update>
  	
  	 <update id="hit" parameterType="java.lang.Integer">
  		update notice set hit=hit+1 where num = #{num}
  	</update>
  	
  </mapper>